.darktheme {
    .statsfilters .tile .label 
    {
      background-color: rgb(95, 89, 148) !important;
    }
        #statstable {
        background: #3c4861;
        color: white;
        padding: 5px;
        border-radius: 5px;
      }
    .footerclass
    {
      color:rgb(180, 180, 180);
      display:flex;
      width:80%;
      margin-top:50px;
      flex:1;
    }
    .footerclass a 
    {
      color: grey;
    }
      .footerclass a:hover
    {
      color: rgb(213, 213, 213);
    }
    .datepicker-cell:hover
    {
       background: rgb(98, 70, 143) !important;
    }
    .stats-sticky-column
    {
          background: #b1871b !important;
    }
    #pendingchatlisttable
    {
      background: rgb(163, 53, 75) !important;
    }
    .datepicker-cell
    {
      color: rgb(170, 157, 157) !important;
    }
    .datepicker-header > .datepicker-cell
    {
      color: black !important;
      font-weight: bold;
    }
    .is-selectable
    {
      color: white !important;
    }
    .has-text-primary {
      color:white !important;
    }
    .tag:not(body).is-warning 
    {
      background-color: rgb(95, 88, 107);
      color:white;
    }
    .panel-heading {
      padding-left: 0px;
      margin-bottom: 5px;
      color: white;
      background-color: #544f64;
    }
    .modal-card,
    .modal-card-head,
    .modal-card-body,
    .label,
    .modal-card-title,
    .modal-card-foot {
      background-color: #3f3f3f !important;
      color: rgb(197, 197, 197) !important;
    }
    .b-tabs a {
      color: rgb(126, 126, 126) !important;
    }
    .b-tabs .is-active a {
      color: rgb(240, 240, 240) !important;
    }
  
    .tabs.is-toggle a:hover {
      color: rgb(255, 255, 255) !important;
      background-color: #4d4d4d;
    }
    //colored rows
    .is-latefollowup {
      background: rgb(167, 77, 77) !important;
    }
    .is-reviewpending {
      background-color: #ffffff;
      background-size: 50px 50px;
      background-image: repeating-linear-gradient(
        45deg,
        #ffdfdf 0,
        #ffdfdf 5px,
        #ffffff 0,
        #ffffff 50%
      );
    }
    .is-lackorder {
      background: rgb(255, 255, 255) !important;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(250, 138, 0, 1) 100%
      ) !important;
    }
    .is-cannotoffer {
      background: rgb(103, 104, 40) !important;
    }
    .is-duplicate {
      background: #787878 !important;
    }
    .is-directsale {
      background: rgb(15, 150, 37) !important;
      color: rgb(182, 182, 182);
    }
    .is-upgrade {
      background: rgb(44, 100, 56) !important;
    }
    .is-upgradeinvoice {
      background: rgb(102, 157, 120) !important;
    }
    //misc
    #nav > a {
      background-color: rgb(144, 107, 187) !important;
      color: white !important;
    }
    #nav > a:hover {
      background-color: rgb(84, 59, 112) !important;
      color: rgb(184, 184, 184) !important;
    }
    background-color: rgb(53, 54, 78) !important;
    .checkbox {
      color: white;
    }
    .checkbox:hover {
      color: rgb(181, 181, 181);
    }
    #switcher {
      color: white;
    }
    .table tr {
      background-color: rgb(53, 54, 78);
      color: white;
    }
    thead th {
      background-color: rgb(105, 106, 153);
      color: rgb(218, 218, 218) !important;
    }
    .button.is-primary.is-outlined {
      border-color: rgb(215, 196, 255);
      border-width: 2px;
      color: white;
    }
    .select select,
    .taginput .taginput-container.is-focusable,
    .textarea,
    .input {
      background-color: #3f3f3f;
      border-color: #cacaca;
      border-radius: 4px;
      color: #c5c5c5;
      -webkit-box-shadow: inset 0 0.0625em 0.125em rgb(100, 100, 5%);
      box-shadow: inset 0 0.0625em 0.125em rgb(10, 10, 5%);
    }
    .select select option {
      color: #c5c5c5;
    }
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgb(153, 153, 153) !important;
      opacity: 1; /* Firefox */
    }
  
    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: rgb(153, 153, 153) !important;
    }
  
    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: rgb(153, 153, 153) !important;
    }
    .datepicker .dropdown-content {
      background-color: #464664;
    }
    .statsfilters
    {
      background-color:rgb(104, 106, 165);
    }
    .modal-card-head,
    .modal-card {
      background: #3f3f3f !important;
      color: white !important;
    }
  }